# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.venv/

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# macOS / Windows
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Django
# ----------------------------
staticfiles/
media/

# ----------------------------
# Python Build Files
# ----------------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# mypy
# ----------------------------
.mypy_cache/
